<!-- FOOTER-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h4 class="line3 center standart-h4title"><span>导航</span></h4>
                <ul class="footer-links">
                    <li><a href="/">首页</a></li>
                    <li><a href="/languages">编程语言</a></li>
                    <li><a href="/platforms">编写应用</a></li>
                    <li><a href="/tools">编程工具</a></li>
                    <li><a href="/blog">编程日志</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h4 class="line3 center standart-h4title"><span>友情链接</span></h4>
                <ul class="footer-links">
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
                    <li><a href="http://www.bootstraptor.com">Bootstrap templates</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h4 class="line3 center standart-h4title"><span>友情链接</span></h4>
                <ul class="footer-links">
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
                    <li><a href="http://www.bootstraptor.com">Bootstrap templates</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h4 class="line3 center standart-h4title"><span>我的住地</span></h4>
                <address>
                    <strong>wizwolf.com</strong><br>
                    <i class="icon-map-marker"></i> 795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <i class="icon-phone-sign"></i> + 4 (123) 456-7890

                </address>
            </div>

        </div>
        <hr>
        <p>© wizwolf.com 2015</p>
    </div><!-- CONTAINER FOOTER-->

</footer>
<!--/ FOOTER-->